@import url("https://fonts.googleapis.com/css2?family=Lato");

$main-teal: #3e7791;

* {
	box-sizing: border-box;

	body {
		background: #d7d7d7;
		font-family: "Lato", sans-serif;
		min-height: 100vh;
		margin: 0;
		overflow-x: hidden;

		.container {
			.header {
				margin: 4rem 0 3rem;

				h1 {
					color: #656565;
					text-align: center;
				}

				p {
					color: #656565;
					font-style: italic;
					text-align: center;
					height: 1rem;
				}
			}

			main {	
				background-color: #b2b2b2;
				margin: auto;
				padding: 4rem 10rem;			
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-gap: 3rem;

				.box {
					display: flex;
					flex-direction: column;
					overflow: hidden;
					border-radius: 0.5rem;
					box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
					transition: box-shadow 0.2s ease-out;
					cursor: pointer;

					&:nth-child(-n+16){
						border: 4px solid $main-teal;
					}

					a {
						background-color: #eaeaea;
						text-decoration: none;
						text-align: center;
						padding-bottom: 0.2rem;

						&:hover {
							transform: scale(1.1);
							transition: all ease-in-out 0.3s;

							.date {
								visibility: hidden;
							}
						}

						img {
							width: 100%;
							height: 10rem;
							margin-bottom: -0.5rem;
							object-fit: cover;
							border-radius: 0.5rem 0.5rem 0 0;
						}

						.info {
							position: relative;
							top: 0;
							background-color: $main-teal;
							color: #fff;
							font-weight: 600;
							font-size: 1.1rem;
							letter-spacing: 1px;
							text-align: center;
							margin: 0;
							padding: 0.7rem;
						}

						.date {
							color: #2f705f;
							font-size: 0.9rem;
							padding: 0.5rem;
						}
					}
				}
			}

			p {
				display: flex;
				justify-content: center;
				align-items: center;
				color: #656565;
				text-align: center;
				height: 4rem;
			}
		}

		.footer {
			background-color: #818181;
			color: #dddddd;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 101vw;
			height: 4rem;
			padding-top: 2rem;

			.details {
				margin-bottom: 2rem;

				p {
					font-size: 1rem;
					line-height: 1.5rem;
					font-family: "Gill Sans", "Gill Sans MT", Calibri,
						"Trebuchet MS", sans-serif;

					a {
						text-decoration: none;
						color: #bdc9d8;
						font-size: 1rem;
						font-family: "Acme", sans-serif;
						margin: 0.2rem;

						&:hover {
							color: #ffffff;
						}
					}
				}
			}

			.social-links {
				margin: 0 0.4rem 1.7rem;

				a {
					color: #d6d6d6;
					text-decoration: none;
					padding: 0.27rem;
					font-size: 1.1rem;
				}
			}
		}
	}
}

@media (max-width: 1200px) {
	body {
		.container {

			main {
				grid-template-columns: repeat(3, 1fr);
				padding: 2rem;

				p {
					height: 4rem;
				}
			}
		}

		.footer {
			top: 92rem;
		}
	}
}

@media (max-width: 760px) {
	body {
		.container {
			main {
				grid-template-columns: repeat(2, 1fr);
				padding: 2rem;
			}
		}
	}
}

@media (max-width: 500px) {
	body {
		.container {
			margin: 0;
			h1 {
				line-height: 3rem;
			}

			main {
				grid-template-columns: 1fr;
				padding: 2rem;
			}
		}

		.footer {
			padding: 2.3rem 1rem;

			.details {
				margin-top: 1.5rem;
			}

			.social-links {
				margin-top: 1.5rem;
				text-align: center;
			}
		}
	}
}
