@import url("https://fonts.googleapis.com/css2?family=Lato");
* {
  box-sizing: border-box;
}
* body {
  background: #ffefea;
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
* body .container {
  margin: auto;
  padding: 1rem;
}
* body .container h1 {
  text-align: center;
  line-height: 1rem;
}
* body .container .page-language {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
* body .container .page-language .flag {
  width: 1.7rem;
  height: 1.7rem;
  margin: 0.3rem;
  border: 1px solid rgba(109, 69, 69, 0.233);
  border-radius: 50%;
  box-shadow: 0 0 3px 1px rgba(68, 68, 68, 0.171);
}
* body .container .page-language .flag:hover {
  transform: scale(1.1);
}
* body .container .page-language .flag img {
  width: 100%;
}
* body .container .btn {
  background-color: darksalmon;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}
* body .container .btn:active {
  transform: scale(0.98);
}
* body .container .btn:focus {
  outline: 0;
}
* body .container .btn-toggle {
  display: block;
  margin: auto;
  margin-bottom: 2.5rem;
}
* body .container .btn.heb-page {
  background-color: #5382ad;
}
* body .container .btn.bg-page {
  background-color: #006a4e;
}
* body .container .text-box {
  background-color: #333;
  color: #fff;
  width: 57%;
  position: absolute;
  top: 30%;
  left: 50%;
  padding: 1.25rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 7px 3px rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50rem);
  transition: all 0.5s ease-in-out;
}
* body .container .text-box.show {
  transform: translate(-50%, 0);
  z-index: 3;
}
* body .container .text-box.show:before {
  background: rgba(0, 0, 0, 0.3490196078);
  position: absolute;
  top: -20rem;
  left: -50rem;
  display: block;
  padding: 100rem;
  content: " ";
  z-index: -3;
}
* body .container .text-box .close {
  text-align: right;
  float: right;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
}
* body .container .text-box .close:hover {
  background-color: rgba(231, 118, 89, 0.5);
  color: #fff;
  box-shadow: inset 0 0 7px 3px rgba(0, 0, 0, 0.4);
}
* body .container .text-box .close.heb-page {
  background-color: rgba(83, 129, 173, 0.3294117647);
  float: left;
}
* body .container .text-box .close.bg-page {
  background-color: rgba(19, 75, 60, 0.5764705882);
}
* body .container .text-box select {
  background-color: darksalmon;
  color: #fff;
  height: 1.9rem;
  width: 100%;
  font-size: 1rem;
  border: none;
  border-radius: 0.3rem 0.3rem;
}
* body .container .text-box select:focus {
  outline: 0;
}
* body .container .text-box select.heb-page {
  background-color: #5382ad;
  direction: rtl;
}
* body .container .text-box select.bg-page {
  background-color: #006a4e;
}
* body .container .text-box textarea {
  font-size: 1rem;
  width: 100%;
  height: 9.3rem;
  padding: 0.5rem;
  margin: 0.93rem 0;
  border: 1px solid #dadada;
  border-radius: 0.3rem 0.3rem;
}
* body .container .text-box .btn {
  width: 100%;
}
* body .container main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  margin-bottom: 5rem;
}
* body .container main .box {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s ease-out;
  cursor: pointer;
}
* body .container main .box.active {
  box-shadow: 0 0 10px 5px darksalmon;
}
* body .container main .box.active-heb {
  box-shadow: 0 0 10px 5px #5382ad;
}
* body .container main .box.active-bg {
  box-shadow: 0 0 10px 5px #006a4e;
}
* body .container main .box img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}
* body .container main .box .info {
  background-color: darksalmon;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0.7rem;
}
* body .container main .box .info.heb-page {
  background-color: #5382ad;
}
* body .container main .box .info.bg-page {
  background-color: #006a4e;
}
* body .footer {
  background-color: #818181;
  color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 132vh;
  width: 101vw;
  height: 3rem;
  padding-top: 1rem;
}
* body .footer .details {
  margin-bottom: 2rem;
}
* body .footer .details p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
* body .footer .details p a {
  text-decoration: none;
  color: #bdc9d8;
  font-size: 1rem;
  font-family: "Acme", sans-serif;
  margin: 0.2rem;
}
* body .footer .details p a:hover {
  color: #ffffff;
}
* body .footer .social-links {
  margin: 0 0.4rem 1.7rem;
}
* body .footer .social-links a {
  color: #d6d6d6;
  text-decoration: none;
  padding: 0.27rem;
  font-size: 1.1rem;
}

@media (max-width: 1200px) {
  body .container .text-box {
    width: 65%;
  }
  body .container main {
    grid-template-columns: repeat(3, 1fr);
  }
  body .footer {
    top: 92rem;
  }
}
@media (max-width: 760px) {
  body .container .text-box {
    width: 65%;
  }
  body .container main {
    grid-template-columns: repeat(2, 1fr);
  }
  body .footer {
    top: 130rem;
  }
}
@media (max-width: 500px) {
  body .container h1 {
    line-height: 2.5rem;
  }
  body .container .text-box {
    width: 75%;
  }
  body .container main {
    grid-template-columns: 1fr;
  }
  body .footer {
    top: 244rem;
    padding: 2.3rem 1rem;
  }
  body .footer .details {
    margin-top: 1.5rem;
  }
  body .footer .social-links {
    margin-top: 1.5rem;
    text-align: center;
  }
}